*{ margin: 0; padding: 0; border: none;}
body{ list-style: none; font-size: 14px; font-family: "Segoe UI", Helvetica, sans-serif,"Open Sans",Arial; color: #666666;}
a{ color: inherit;}
a:hover,:active,a:focus{ text-decoration: none; color: inherit; cursor: pointer;}
p{ margin-bottom: 0;}

ul,ol{ list-style: none;}
.wrap{ width: 100%; position: relative;}
.clear{ clear: both;}
textarea{ resize: none;}

input::-ms-clear {
    display:none;
}
input[type="email"]::-ms-clear {
    display:none;
}

/* header */
.nav{ height: 70px; background: #292f3c;}
.navbar{ width: 100%; border: none; z-index: 1100; position: fixed; height: 70px; border-radius: 0; background: #292f3c; margin: 0;}
.nav-bottom{ border-bottom: 3px solid #e7e7e7;}
.navbar-header{ line-height: 70px;}
.nav-list{ float: right; margin: 0; background: #292f3c;}
.nav-list a{ display: block;}
.nav-list>li{ float: left; cursor: pointer; padding: 0 17px; margin-left: 50px; color: #fff; border-bottom: 2px solid transparent; line-height: 65px; position: relative; font-size: 16px;}
.nav-list>li:hover{ color: #24d3b6; border-bottom: 2px solid #24d3b6;}
.nav-list>li:hover ul{ display: block;}
.nav-list ul{ display: none; position: absolute; top: 105%; left: 0; padding: 10px; background: #1e2432; width: 170px; border-radius: 2px;}
.nav-list ul li{ line-height: 35px; color: #fff; padding: 0 10px 0 8px; text-align: left; font-size: 13px;}
.nav-list ul li:hover{ color: #24d3b6;}
.nav-blank{ position: absolute; top: 100%; left: 0; width: 100%; height: 10px;}

            /* header top */
.top{ height: 500px; width: 100%; background: url("../images/bannerbg.png") no-repeat; background-size: cover;}
.search{ width: 650px; margin: 0 auto; padding-top: 180px;}
.search-text{ width: 89.2%; display: inline-block; position: relative;}
.img-flag{ width: 26px; height: 16px; border: 1px solid #f1f1f1;}
.flag-div{ float: left; padding-right: 10px; padding-left: 10px;}
.flag-span{ line-height: 22px;}
.select2-results__option{ font-weight: 600;}
.select2-container .select2-selection--single{ height: 56px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{ line-height: 54px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{ height: 56px;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{ background: #f6f5f5; color: #666666;}
.select2-container--default .select2-selection--single .select2-selection__arrow{ left: 50px;}
span:focus{ outline: none;}
.search-btn{ float: right; margin-top: 1px;}
.search-btn a{ display: block; width: 58px; height: 54px; padding: 15px 17px 14px 17px; border-radius: 3px; background: #24d3b6;}
.search-btn a span{ width: 25px; height: 25px; display: inline-block; background: url("../images/bg.png") no-repeat; background-position: 0 0;}
/*.search-word{ position: absolute; top: 6px; right: 2px; width: 500px; border-left: 1px solid #dddddd; padding-left: 10px; height: 45px; line-height: 45px;}*/
.search-word{ position: absolute; background: #fff; border-radius: 4px; top: 1px; right: 0; width: 500px; height: 54px; line-height: 54px;}
.search-word input{ width: 400px; height: 45px; line-height: 45px; border-left: 1px solid #dddddd; padding-left: 10px;}
.search-word input:focus{ outline: 0;}

.option-line{ width: 247px; font-size: 14px; color: #333; border-top: 1px solid #e5e5e5; height: 25px; line-height: 30px; padding-left: 5px; margin: 3px 6px;}
.region-line{ width: 138px; font-size: 14px; color: #fff; border-top: 1px solid #e5e5e5; height: 25px; line-height: 30px; padding-left: 5px; margin: 3px 6px;}

.ban-text{ color: #fff; font-size: 16px; font-family: Arial; margin-top: 22px;}

.select2-container--default .select2-search--dropdown .select2-search__field{ border-radius: 4px;}

/* contents */

            /* index contents */
.what{ background: #fff; height: 780px;}
.what-center{ margin-top: 140px;}
.what-title{ font-size: 48px; font-weight: 300; color: #333;}
.what-title span{ color: #24d3b6;}
.p-line{ width: 60px; height: 2px; background: #24d3b6; display: inline-block; margin-top: 25px;}
.what-text{ font-size: 20px; margin-top: 20px; color: #4a4a4a;}
.what-more a{ width: 178px; height: 44px; font-size: 20px; display: block; line-height: 44px; text-align: center; border: 1px solid #24d3b6; background: #fff; color: #24d3b6;}
.what-more a:hover{ color: #fff; background: #24d3b6;}
.col-left{ margin-left: -100px; width: 730px!important;}
.col-right{ margin-right: -125px; width: 617px;}
.what-img{}
.work-center .what-introduce{ width: 655px;}

.work{ background: #f2f2f2; height: 780px;}
.work-center{ margin-top: 140px;}
.work-li li{ font-size: 20px; line-height: 40px; color: #4a4a4a;}
.work-bg{ width: 13px; margin-right: 10px; height: 11px; display: inline-block; background: url("../images/bg.png") no-repeat; background-position: -25px 0;}

.choose{ background: #fff;}
.choose-center{ margin: 140px 0 155px 0;}
.choose-t{ text-align: center;}
.choose-line{ text-align: center;}
.choose-img{ width: 53px; height: 49px; margin: 10px 45px 75px 0; display: block; float: left; background: url("../images/bg.png") no-repeat;}
.choose-img1{ background-position: -41px 0;}
.choose-img2{ background-position: -98px 0;}
.choose-img3{ background-position: -153px 0;}
.choose-img4{ background-position: -207px 0;}
.choose-text{ font-size: 18px;}
.choose-title{ color: #4a4a4a; font-size: 20px; display: inline-block; margin-bottom: 20px;}
.choose-col1,.choose-col2{ margin-top: 110px;}
.choose-col3,.choose-col4{ margin-top: 100px;}
.choose-col1,.choose-col3{ padding-right: 48px;}
.choose-col2,.choose-col4{ padding-left: 48px;}


            /* search result contents */
.select-group{ margin-top: 13px;}
.top-title{ width: 100%; line-height: 42px; font-weight: 500; font-size: 20px; color: #24d0b3; border-bottom: 2px solid #24d0b3;}
.keywords-table{ margin-top: 36px;}
.keywords-table .table{ margin-bottom: 0;}
.keywords-table thead td{ color: #2f333e;}
.keywords-table table{ border: 1px solid #f0f0f0; border-radius: 1px;}
.keywords-table thead tr{ background: #f9f9f9; text-align: center;}
.keywords-table>.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ border-top: 1px solid #f0f0f0;}
.keywords-table>.table>tbody>tr>td{ text-align: center; vertical-align: middle;}
.main-num{ color: #24d0b3;}
.t-little{ width: 15%;}
.b-num{ font-weight: 700;}
.t-big{ width: 40%;}
.keywords-li{ overflow: hidden; height: 120px; margin-bottom: 0;}
.keywords-li li{ padding: 0 12px; float: left; border-radius: 4px; line-height: 30px; margin: 6px 0 0 10px; max-width: 210px; text-overflow: ellipsis; border: 1px solid #e2e2e2; white-space: nowrap; overflow: hidden;}
.app-list{ border: 1px solid #f0f0f0; border-bottom: none; margin-top: 30px; margin-bottom: 40px;}
.app-introduce{ border-bottom: 1px solid #f0f0f0;}
.introduce-center{ padding: 23px 0 15px 0;}
.introduce-li{ float: left;}
.introduce-li li{ line-height: 24px;}
.app-img{ margin-left: 43px;}
.app-news{ margin-left: 20px;}
.app-num{ margin-right: 135px; float: right; margin-top: 4px;}
.app-name{ font-size: 16px; color: #333;}
.app-develop,.app-use{ font-size: 12px; color: #7a7a7a;}

.app-table{ table-layout: fixed; width: 155px; border-right: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0;}
.app-order{ width: 139px;}
.app-order>td{ word-wrap: break-word; font-size: 12px; color: #7a7a7a; text-align: center; padding: 5px 0;}
.app-mun td{ font-size: 14px; color: #333; text-align: center; width: 50%; line-height: 26px; padding: 5px 0;}
.app-num tr td{ border-top: 1px solid #f0f0f0; border-left: 1px solid #f0f0f0;}


            /* app top  contents */
.update{ float: right; font-size: 12px; color: #999; padding-right: 10px;}
.time-line{ /*margin-top: 20px;*/}
.time-line-left{ float: left; padding-right: 10px; font-size: 12px; color: #999; line-height: 26px; margin-top: 20px;}
.time-line-right{ float: left; width: 990px; margin-bottom: 0; margin-top: 12px;}
.time-line-right>li{ float: left; position: relative; margin: 8px 0 4px 0;}
.time-point{ border: 1px solid #e2e2e2; border-radius: 5px; margin-bottom: 12px; overflow: hidden;}
.time-point:hover{ overflow: visible;}
.time-point>a{ width: 52px; height: 26px; display: block; font-size: 12px; color: #8a8a8a; text-align: center; line-height: 26px;}
.time-hr{ width: 15px;}
.time-hr hr{ margin: 7px 0; position: relative; top: 5px; border-top: 1px dashed #e6e6e6; }
.time-point-event{ position: absolute; bottom: 30px; background: #fff; z-index: 2;}
.time-point-event ul{ border: 1px solid #e2e2e2; border-radius: 5px;}
.time-point-event ul a{line-height: 30px; padding: 0 10px;}
.time-point-event ul a:hover{ color: #24d3b6;}
.time-event-height{ height: 20px; width: 80px; position: absolute; bottom: 24px;}

.Topapp-order{ margin-bottom: 40px;}
.con-list{ border: 1px solid #ddd; border-radius: 5px; margin-top: 30px;}
.con-list:hover{ box-shadow: 0 0 8px #24d3b6;}
.con-list ul li{ line-height: 24px; text-align: center; text-overflow: ellipsis;}
.list-img{ margin: 20px 0; text-align: center;}
.count p{ font-size: 15px; color: #666; line-height: 40px; background: #f8f8f8; margin: 0; text-align: center;}
.more{ text-align: center; width: 100%; margin-top: 22px;}
.more-load{ width: 85px; height: 26px; line-height: 26px; color: #fff; text-align: center; display: inline-block; background: #24d3b6; border-radius: 4px;}
.more-load:hover,.more-load:active,.more-load:focus{ color: #fff;}
.lapp-name{ font-size: 15px; color: #333;}
.lapp-place,.lapp-change{ font-size: 14px; color: #666;}
.con-list ul li.lapp-change{ line-height: 50px;}
.con-list ul{ margin-bottom: 5px;}
.lapp-ser{ color: #24d3b6;}
.time-active{ background: #24d3b6; border: 1px solid #fff;}
.time-active a{ color: #fff;}


/* keywords contents */
.keywords{ margin-bottom: 40px; border-right: 1px solid #eeeeee; border-left: 1px solid #eeeeee; margin-top: 30px;}
.keywords-top{ border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee;}
.keywords-top p{ margin-bottom: 0; text-align: left; font-size: 14px; color: #2f333e; border-radius: 1px; background: #f9f9f9; line-height: 38px; float: left;}
.kt-l{ width: 10%; padding-left: 30px;}
.kt-c{ width: 70%; padding-left: 10px;}
.kt-r{ width: 20%;}
.keywprds-list{ margin: 0;}
.keywprds-list li{ border-bottom: 1px solid #eeeeee;}
.data{ height: 40px; position: relative;}
.data div{ line-height: 40px; font-size: 14px; color: #8a8a8a; float: left; text-align: left;}
.data-number{ width: 10%; padding-left: 40px;}
.data-name{ width: 70%; padding-left: 10px;}
.data-name a{ width: 80px; display: block; float: left;}
.data-name a:hover{ color: #24d3b6;}
.data-val{ width: 20%;}
.data-val span{ width: 60px; text-align: center; display: block;}
.dec{ position: absolute; width: 8px; height: 9px; top: 15px; right: 60px; background: url("../images/bg.png") no-repeat; background-position: -26px -12px;}
.swiper-container{ height: 0; padding: 0 45px; box-sizing: content-box;}
.swiper-container>a{ width: 45px; height: 138px; line-height: 138px; background-color: #fff; text-align: center;}
.swiper-container>a>span{ width: 8px; height: 14px; line-height: 140px; display: inline-block;}
.swiper-button-prev{ position: absolute; top: 0; left: 0; z-index: 10;}
.swiper-button-next{ position: absolute; top: 0; right: 0; z-index: 10;}
.swiper-next{ background: url("../images/bg.png") no-repeat; background-position: -27px -44px;}
.swiper-prev{ background: url("../images/bg.png") no-repeat; background-position: -26px -25px;}
.img-number{ width: 100%; line-height: 50px; font-size: 14px; color: #8a8a8a; display: block; text-align: center;}
.swiper-slide{ text-align: center; height: 130px;}


/* keywords details contents */
.key-title{ line-height: 75px; font-size: 18px; color: #333; margin-bottom: 0;}
.keywores-name{ color: #24d3b6;}
.key-list li{ border-bottom: 1px solid #eeeeee;}
.kd-d{ width: 34%; margin: 0; text-align: left; padding-left: 42px; float: left; line-height: 38px;}
.kd-r{ width: 32%;}
.kde-dur{ width: 32%;}
.kde-d{ font-size: 14px; color: #8a8a8a;}


/* search contents */
.app-id{ height: 34px; line-height: 34px; padding-left: 10px; border-radius: 4px; border: 1px solid #ccc;}
.app-id:focus{ outline: 0;}
.search-keywords{ margin-top: 10px;}
.search-t{ font-size: 12px; color: #999999; line-height: 26px; padding-left: 3px;}
.search-key{ width: 100%; height: 60px; padding: 10px; border: 1px solid #e2e2e2; border-radius: 4px; resize: none;}
.search-key:focus{ outline: none;}
.btn-list a{ display: block; float: left; border: 1px solid #e2e2e2; margin: 15px 0 34px 15px; border-radius: 4px; background: #f9f9f9; color: #666666; font-size: 14px; padding: 7px 15px;}
.btn-list a.sear{ background: #24d3b6; color: #fff; border: 1px solid #24d3b6;}
.btn-list a:first-child{ margin-left: 0;}
.submit:hover{ background: #24d3b6; color: #fff; border: 1px solid #24d3b6;}
.copy:hover,.empty:hover{ background: #ccc;}
.keywords-top{ height: 40px; background: #f9f9f9; padding-right: 1px;}
.search-k{ width: 56%; padding-left: 30px;}
.search-k p{}
.search-index{ width: 16%;}
.search-rank{ width: 14%;}
.search-result{ width: 14%;}
.keywords-top>div{ float: left; background: #f9f9f9; cursor: pointer;}
.data-key{ width: 56%; padding-left: 30px;}
.data-index{ width: 16%;}
.data-index span{ width: 76px; text-align: center; display: block;}
.data-rank{ width: 14%;}
.data-rank span{ width: 30px; text-align: center; display: block;}
.data-result{ width: 14%;}
.data-result span{ width: 40px; text-align: center; display: block;}
.top-bot{ width: 10px; height: 100%; display: block; margin-left: 8px; float: left; margin-top: 6px;}
.top-bot span{ width: 10px; height: 10px; display: block; margin-top: 2px;}
.trg-top{ border-width: 0 5px 5px 5px; border-color: transparent transparent #e4e3e3 transparent; border-style: solid;}
.trg-bot{ border-width: 5px 5px 0 5px; border-color: #e4e3e3 transparent #e4e3e3 transparent; border-style: solid;}
.trg-blue{ border-color: #24d3b6 transparent #24d3b6 transparent;}


/* tranding search contents */
.trand-key{ width: 80%; float: left; padding-left: 30px;}
.keywords-top .trand-index{ width: 12.3%; float: right;}
.data-trand-key{ width: 87.7%; float: left; padding-left: 30px;}
.data-trand-index{ width: 12.3%;}
.data-trand-index span{ width: 75px; display: block; text-align: center;}


/* service rank */
.tracking{ background: #f2f2f2;}
.tracking-top{ text-align: center; padding-top: 108px; line-height: 125px; font-size: 42px; color: #333; font-family: Open Sans;}
.tracking-con{ text-align: center; font-size: 24px; color: #666;}
.tracking-img{ margin: 90px 0 130px 0; text-align: center;}
.pushing-top{ margin-top: 120px; text-align: center;}
.pushing-title{ line-height: 90px; font-size: 45px; font-weight: 300; color: #333; text-align: center;}
.blue-line{ width: 60px; height: 2px; background: #24d3b6; display: inline-block;}
.pushing-con{ margin-top: 240px; margin-bottom: 360px;}
.col-md-3{ width: 33.33%!important; padding: 0 64px;}
.col-img{ width: 90px; height: 90px; line-height: 90px; text-align: center; border: 1px solid #e1e1e1; border-radius: 50%; margin: 0 auto;}
.col-tit{ font-size: 24px; color: #333; text-align: center; margin-top: 25px;}
.col-text{ font-size: 18px; color: #666666; text-align: center; line-height: 24px; margin-top: 15px;}
.col-img span{ width: 33px; height: 33px; display: inline-block; vertical-align: middle;}
.col-bg1{ background: url("../images/bg.png") no-repeat; background-position: 0 -101px;}
.col-bg2{ background: url("../images/bg.png") no-repeat; background-position: 0 -142px;}
.col-bg3{ background: url("../images/bg.png") no-repeat; background-position: 0 -190px;}
.chooseing{ background: #f2f2f2;}
.chooseing-img img{ width: 100%;}
.chooseing-con{ margin-top: 130px; margin-bottom: 175px;}
.chooseing-col{ border-radius: 3px; background: #fff; box-shadow: 1px 1px 5px rgba(102,102,102,0.1), -1px 0 5px rgba(102,102,102,0.1), 1px 0 5px rgba(102,102,102,0.1), -1px 1px 5px rgba(102,102,102,0.1);}
.chooseing-tit{ padding: 30px 25px 0 25px; margin: 0; text-align: left; font-size: 20px; color: #24d3b6;}
.chooseing-text{ padding: 20px 25px 0 25px; margin: 0; font-size: 16px; color: #333; line-height: 24px;}
.chooseing-group{ height:225px;}


/* survice keywords contents */
.survice-ktop{ text-align: center; background: url("../images/survice-bg.png") center no-repeat; background-size: cover;}
.survice-ktitle{ font-size: 48px; color: #333; text-align: center; line-height: 80px; width: 100%; padding: 510px 90px 0 90px;}
.survice-ktxt{ font-size: 26px; color: #5f5f5f; padding-top: 60px; text-align: center;}
.start-now{ background: #24d3b6; color: #fff; padding: 12px 81px; border-radius: 4px; display: inline-block; font-size: 26px; margin-bottom: 200px; margin-top: 45px;}
.start-now:hover{ color: #fff; background: #1fbaa0;}
.start-now:focus{ color: #fff;}
.kour-con-img{ width: 90px; height: 90px; line-height: 90px; text-align: center; border-radius: 50%; margin: 0 auto;}
.kour-con-tit{ font-size: 24px; color: #333; text-align: center; margin-top: 25px;}
.kour-con-text{ font-size: 18px; color: #666666; text-align: center; line-height: 24px; margin-top: 25px;}
.kour-con-img span{ width: 50px; height: 50px; display: inline-block; vertical-align: middle;}
.kour-bg1{ background: url("../images/bg.png") no-repeat; background-position: -41px -109px;}
.kour-bg2{ background: url("../images/bg.png") no-repeat; background-position: -41px -166px;}
.kour-bg3{ background: url("../images/bg.png") no-repeat; background-position: 0 -234px;}
.kour-bg4{ background: url("../images/bg.png") no-repeat; background-position: -59px -228px;}
.kour-col{ margin-top: 110px;}
.survice-kour-con{ margin-bottom: 115px;}
.contact-title{ padding: 0 240px;}
.contact-group{ padding: 140px 140px 0 140px;}
.form-w{ width: 49%;}
.form-left{ float: left;}
.form-right{ float: right;}
.contact-group{ text-align: center; margin-bottom: 140px;}
.contact-group input{ height: 60px; line-height: 46px; width: 100%;}
.contact-group .form-inline .form-control{ width: 100%; margin-bottom: 20px;}
.form-bot{ margin-bottom: 20px; position: relative;}
textarea.form-control{ height: 150px;}
.send{ padding: 14px 165px; font-size: 16px; font-weight: 700; margin-top: 45px; background: #24d3b6; color: #fff; border-radius: 4px; display: inline-block;}
.send:hover{ color: #fff; background: #1fbaa0;}
.send:focus{ color: #fff;}
.tips{ display: none; position: absolute; bottom: 110%; border-radius: 5px; left: 0; background: #24d3b6;}
.formtips{ padding: 5px 15px; color: #fff; display: block;}
.tips-trg{ border-top: 7px solid #24d3b6; border-right: 7px solid transparent; border-left: 7px solid transparent; position: absolute; bottom: -7px; left: 15px;}












    /* footer */
.footer{ background: #1e2432;}
.foot-center{ margin-top: 60px; padding-bottom: 60px;}
.about-ap{ font-size: 14px; color: #d0d3d8; line-height: 25px; margin: 0;}
.about-atimg{ width: 62px; height: 28px; display: block; background: url("../images/bg.png") no-repeat; background-position: 0 -62px;}
.about-line{ width: 20px; height: 2px; background: #d0d3d8; margin-top: 20px;}
.about-au{ font-size: 14px; color: #d0d3d8;}
.about-au li{ float: left; padding-left: 8px;}
.about-au li a{ font-size: 14px; color: #d0d3d8; margin-right: 8px;}
.about-au li a:hover{ color: #24d3b6;}
.about-au li:after{
    content: "|";
    color: #d0d3d8;
}
.about-au li:nth-last-child(1):after{
    content: "";
}
.inp{ float: left; width: 190px; height: 32px; line-height: 32px; background: #fff; padding-left: 10px;}
.contact-as .a{ float: left; background: #24d3b6; color: #fff; width: 70px; height: 32px;}
.about-at{ font-size: 16px; color: #d0d3d8;}
.link{ margin-top: 70px;}
.link-u li{ color: #d0d3d8;}
.link-name{ color: #919191;}
.link-img{ margin-top: 65px;}
.link-img span{ float: left; width: 41px; height: 40px; margin-right: 8px;}
.link-img a{ width: 41px; height: 40px; display: block;}
.face{ background: url("../images/bg.png") no-repeat; background-position: -72px -62px;}
.skype{ background: url("../images/bg.png") no-repeat; background-position: -116px -62px;}
.foot-copy{ width: 100%; height: 72px; line-height: 72px; margin-bottom: 0; text-align: center; font-size: 14px; color: #d0d3d8; border-top: 1px solid #272e40;}








.nav-active{ color: #24d3b6!important; border-bottom: 2px solid #24d3b6!important;}
.nav-li-active{ color: #24d3b6!important;}




@media (max-width: 1367px) {
    .col-left{ margin: 0; width: 50%!important;}
    .col-right{ margin: 0; width: auto;}
    .what-img img{ width: 555px;}
    .work-center .what-introduce{ width: 50%!important;}

}
@media (min-width: 768px) {
    .col-sm-2{ width: 20%;}
}
@media (max-width: 768px) {
    .nav-list>li{ margin: 0;}
}
@media (max-width: 767px) {
    .navbar{ height: 50px;}
    .navbar-header{ line-height: 50px;}
    .navbar-toggle{ padding: 7px 8px; margin-top: 10px;}
    .nav-list{ width: 100%;}
    .nav-list>li{ float: none; text-align: left; line-height: 30px;}
    .nav-list ul{ position: static; width: 100%; border-radius: 0;}
    .nav-list ul li{ text-align: left; line-height: 25px;}
    .navbar-collapse{ padding: 0;}
    .navbar-collapse.in{ overflow: hidden;}
}
