.more-width li{ width: 50%; float: left;}
.dropdown-menu li{ padding-left: 10px;}
.img-flag{ height: 16px; width: 26px;}
.top-tool>ul>li{ float: left; padding-left: 15px;}
.top-tool>ul{ margin-top: 30px; margin-bottom: 0;}
.top-tool-nav{ font-size: 12px; color: #999999; font-family: Arial; padding-left: 3px;}
.select2-container{ display: block;}
.form_date{ width: 200px;}
.select2-container .select2-selection--single{ height: 34px;}
.dropdown-menu li{ cursor: pointer; color: #fff; line-height: 30px;}
.dropdown-menu li:hover{ color: #24d3b6;}
.btn .caret{ margin-left: 20px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{ height: 34px; left: auto;}
.table-condensed{ width: 240px;}

.select2-container--default .select2-selection--single .select2-selection__rendered{ line-height: 32px; font-size: 12px;}
.dropdown-menu{ background-color: #292f3c;}
.table-condensed>tbody>tr>td{ color: #fff;}
.table-condensed>thead>tr>th{ color: #fff;}
.datetimepicker table tr td.day:hover{ color: #333;}
[class*=" datetimepicker-dropdown"]:after{ border-bottom: 6px solid #292f3c;}
.select2-dropdown{ background-color: #292f3c;}
.select2-results__option{ color: #fff; line-height: 30px; padding-left: 20px;}
.select2-container--default .select2-results__option[aria-selected=true]{ background-color: #292f3c; color: #24d3b6;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{ background: none; color: #24d3b6;}
.trangle{ position: absolute; left: 10px; top: -6px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #292f3c;}
.select2-container--open .select2-dropdown{ top: 2px;}
.select2-container--open .select2-dropdown--below{ border: none; border-radius: 4px;}
.datetimepicker thead tr:first-child th, .datetimepicker tfoot th{ color: #fff; background: #292f3c;}
.datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot th:hover{ color: #333;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{ background: #fff;}
.form-control{ box-shadow: none;}
.form_datetime{ font-size: 12px;}
.input-group-addon{ background: #fff;}
.form-control:focus{ box-shadow: none; border-color: #ccc;}
span:focus{ outline:none;}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{ background-color: #fff;}
.btn-default:hover{ background-color: #fff; border-color: #ccc;}
.btn-default.active.focus, .btn-default.active:focus,
.btn-default.active:hover, .btn-default:active.focus,
.btn-default:active:focus, .btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover{ background-color: #fff; border-color: #ccc;}
.btn.active, .btn:active{ box-shadow: none;}
.select2-container--default .select2-selection--single{ border: 1px solid #ccc;}
.datetimepicker table tr td span:hover{ color: #333;}
.btn-default{ font-size: 12px; height: 34px; padding: 6px 7px 6px 12px}
.Current{ font-size: 12px;}
.pos{ position: relative;}
.trangle-ab{ position: absolute; right: 7px; top: 35px; color: #999;}
.caret{ color: #999;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{ border-color: #999 transparent transparent transparent; border-width: 4px 4px 0 4px;}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{ border-color: #999 transparent transparent transparent; border-width: 4px 4px 0 4px;}
.select2-container .select2-selection--single .select2-selection__rendered{ padding-left: 12px;}
.select2-container .select2-selection--single .select2-selection__rendered{ font-size: 12px;}









